@import 'reset.scss';
@import 'font.scss';

// variation
$fc-black: #111;

/* common */
body {
  font-family: 'Noto Sans KR';
}

img {
  width: 100%;
}

@mixin block-a {
  display: block;
  text-decoration: none;
  color: #111;
}

.container {
  .wrapper {
    max-width: 1320px;
    margin: 0 auto;
  }
}

#header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 125px;
  a {
    @include block-a;
  }
  .logo {
    width: 120px;
    padding: 0 22px;
  }

  .header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 22px;
    color: #606060;
    .language {
      font-family: 'Montserrat';
      text-align: right;
      a {
        display: inline;
      }
    }
    .member {
      display: flex;
      margin-top: 16px;
      .divider {
        margin: 0 4px;
      }
    }
  }
}

#gnb {
  width: 1100px;
  margin-top: 16px;
  border-top: 1px solid #090103;
  
  .depth1 {
    position: relative;
    display: flex;
    width: 100%;
    font-family: 'Montserrat';
    & > li {
      flex: 1 0 20%;
      & > a {
        padding: 38px 0;
        font-size: 30px;
        font-weight: 700;
      }
    }
    .depth2-bg {
      position: absolute;
      top: 106px;
      right: 0;
      z-index: 0;
      width: 1320px;
      height: 288px;
      background-color: rgba(0, 0, 0,.5);
    }
  }

  .depth2 {
    position: absolute;
    width: calc(100% / 5);
    font-family: 'Noto Sans KR';
    & > li > a {
      @include block-a;
      width: 100%;
      padding: 26px 0 0 0;
      color: #fff;
    }
  }
}

.main-content {
  
  .accordion-area {
    margin-top: 52px;
    .title {
      &--img {
        img {
          width: 52px;
        }
      }
      &--content {
        margin-top: 32px;
        font-family: 'Montserrat';
        font-size: 40px;
        font-weight: 600;
      }  
    }

    .contents {
      margin-top: 58px;
      border-top: 18px solid #111;
      border-bottom: 18px solid #111;
      details {
        summary {
          position: relative;
          border: 1px solid #111;
          border-left: 0;
          border-right: 0;
          padding: 42px 90px;
          list-style: none;
          font-family: 'Montserrat';
          font-size: 33px;
          color: #111;
          &::-webkit-details-marker {
            font-size: 40px;
          }
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 23px;
            height: 100%;
            background-color: #c5ff00;
          }
        }

        .content {
          padding: 24px 0;
          &.empty {
            height: 300px;
            background-color: #ddd;
          }

          .img-area {
            display: flex;
            margin-top: 24px;
            a {
              flex-basis: 50%;

              & + a {
                margin-left: 24px;
              }
            }
          }
        }
      }
    }
  }
}

#footer {
  margin-top: 150px;
  .footer__upper {
    padding-bottom: 16px;
    border-bottom: 2px solid #090103;
    .sns {
      display: flex;
      font-family: 'Montserrat';
      .sns__item:not(:first-child) {
        margin-left: 30px;
      }
      .sns__item > a {
        @include block-a;
        font-size: 24px;
      }
    }
  }

  .footer__lower {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    .logo {
      width: 315px;
    }

    .operating-time {
      display: flex;
      .title {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1.1px;
      }
      .time {
        margin-left: 30px;
        li {
          display: flex;
          &:last-child {
            margin-top: 8px;
          }
        }
      }
    }
  }
}

// floating banner
.floating-area {
  position: fixed;
  top: 330px;
  right: 67px;
  a {
    @include block-a;
    width: 83px;
  }

  .expand-menu {
    li {
      margin-top: 20px;
    }
  }

  .top-btn {
    margin-top: 20px;
  }
}

// transition
.gnb-enter-active,
.gnb-leave-active {
  transition: all .3s;
}

.gnb-enter,
.gnb-leave-to {
  opacity: 0;
}