@import 'reset.scss';
@import 'font.scss';

// variation
$fc-black: #111;

/* common */
body {
  font-family: 'Noto Sans KR';
}

img {
  width: 100%;
}

@mixin container {
  max-width: 1320px;
  margin: 0 auto;
}

@mixin block-a {
  display: block;
  text-decoration: none;
  color: #111;
}

.container {
  .wrapper {
    // @include container;
  }
}

button {
  appearance: none;
  border: 0;
  outline: 0;
  background-color: #fff;
  font-family: 'Montserrat';
  &.btn {
    padding: 14px 20px;
    border-radius: 20px;
    background-color: #111;
    color: #fff;
  }
}

.icon-star {
  width: 40px;
}

@mixin eng {
  font-family: 'Montserrat';
}

// header

#header {
  @include container;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 125px;
  a {
    @include block-a;
  }
  .logo {
    width: 120px;
    padding: 0 22px;
  }

  .header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 22px;
    color: #606060;
    .language {
      font-family: 'Montserrat';
      text-align: right;
      a {
        display: inline;
      }
    }
    .member {
      display: flex;
      margin-top: 16px;
      .divider {
        margin: 0 4px;
      }
    }
  }
}

#gnb {
  width: 1100px;
  margin-top: 16px;
  border-top: 1px solid #090103;

  .depth1 {
    position: relative;
    display: flex;
    width: 100%;
    font-family: 'Montserrat';
    & > li {
      flex: 1 0 20%;
      & > a {
        padding: 38px 0;
        font-size: 30px;
        font-weight: 700;
      }
    }
    .depth2-bg {
      position: absolute;
      top: 106px;
      right: 0;
      z-index: 0;
      width: 1320px;
      height: 288px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .depth2 {
    position: absolute;
    width: calc(100% / 5);
    font-family: 'Noto Sans KR';
    & > li > a {
      @include block-a;
      width: 100%;
      padding: 26px 0 0 0;
      color: #fff;
    }
  }
}

.main {
  // @include container;
  margin-top: 10px;
  border-top: 1px solid #090103;
}

.main-content {
  .accordion-area {
    margin-top: 52px;
    .title {
      &--img {
        img {
          width: 52px;
        }
      }
      &--content {
        margin-top: 32px;
        font-family: 'Montserrat';
        font-size: 40px;
        font-weight: 600;
      }
    }

    .contents {
      margin-top: 58px;
      border-top: 18px solid #111;
      border-bottom: 18px solid #111;
      details {
        summary {
          position: relative;
          border: 1px solid #111;
          border-left: 0;
          border-right: 0;
          padding: 42px 90px;
          list-style: none;
          font-family: 'Montserrat';
          font-size: 33px;
          color: #111;
          &::-webkit-details-marker {
            font-size: 0;
            display: none;
          }
        }
        &[open] {
          summary {
            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 23px;
              height: 100%;
              background-color: #c5ff00;
            }
          }
        }
        &.intro {
          .content {
            .intro-area {
              display: flex;
              margin-top: 28px;
              padding-bottom: 75px;
              img {
                width: 200px;
                margin-left: 271px;
              }
              .text-area {
                margin-left: 313px;
                .title {
                  font-family: 'Montserrat';
                  font-size: 28px;
                  font-weight: 700;
                  letter-spacing: 0.7px;
                }
                .summary {
                  margin-top: 38px;
                }
              }
            }
          }
        }
        .content {
          padding: 24px 0;

          .btn-wrap {
            padding: 0 22px;
            text-align: right;
          }
          &.empty {
            height: 300px;
            background-color: #ddd;
          }

          .img-area {
            display: flex;
            margin-top: 24px;
            a {
              flex-basis: 50%;

              & + a {
                margin-left: 24px;
              }
            }
          }
        }
      }
    }
  }
}

.trainer-content {
  @include container;
  margin-top: 60px;
  .title {
    font-family: 'Montserrat';
    font-size: 42px;
    line-height: 1.43;
    img {
      width: 40px;
      margin-left: 8px;
      vertical-align: middle;
    }
  }

  .trainer {
    display: flex;
    margin-top: 80px;
    h5.title {
      width: 200px;
      border-top: 13px solid #111;
      padding-top: 40px;
      font-family: 'Montserrat';
      font-size: 52px;
      font-weight: 700;
    }
    .member-container {
      margin-left: 136px;
    }
    .ceo {
      margin-bottom: 95px;
      img {
        width: 312px;
        height: 416px;
      }
    }
    .ceo > a {
      @include block-a;
      display: flex;
      align-items: flex-end;
    }
    .ceo .text {
      .position {
        font-family: 'Montserrat';
        font-size: 40px;
        font-weight: 700;
        em {
          font-family: 'Noto Sans KR';
          font-size: 38px;
        }
      }

      .name {
        margin-top: 36px;
        font-size: 36px;
        text-align: left;
      }
    }
    .member-wrap {
      display: flex;
      flex-wrap: wrap;

      .member {
        width: 312px;
        padding-bottom: 25px;
        &:not(:nth-child(3n + 1)) {
          margin-left: 24px;
        }
        a {
          @include block-a;
          img {
            width: 312px;
            height: 416px;
          }
          .name {
            margin-top: 15px;
            font-size: 34px;
            text-align: center;
          }
        }
      }
    }
  }
}

// profile modal container [S]
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  .modal-wrapper {
    position: relative;
    width: 70%;
    a {
      position: absolute;
      top: 50%;
      img {
        width: 40px;
      }
      &.prev {
        left: -64px;
      }
      &.next {
        right: -64px;
      }
    }
  }
}
// profile modal container [E]

.about-content {
  .about-us {
    @include container;
    margin-top: 10px;
    padding: 20px 30px 0;
    border-top: 1px solid #090103;
    .title {
      @include eng;
      font-size: 30px;
      font-weight: 700;
      img {
        width: 25px;
      }
    }
    .contents {
      .title {
        margin-top: 240px;
        font-size: 50px;
      }
      .content {
        margin-top: 65px;
        font-size: 20px;
      }
      img {
        display: block;
        margin: 132px auto 97px;
        width: 1094px;
      }
    }
  }
  .strategy {
    background-color: #000;
    .wrap {
      @include container;
      padding-bottom: 100px;
      .title {
        padding-top: 52px;
        @include eng;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
      }
      img {
        display: block;
        width: 1094px;
        margin: 104px auto 0;
      }
      .txt-contents {
        display: flex;
        justify-content: space-between;
        width: 1094px;
        margin: 90px auto 0;
        .item {
          color: #fff;
          .title {
            font-size: 24px;
            font-weight: bold;
          }
          .content {
            margin-top: 24px;
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .symbol {
    background-color: #c5ff00;
    .symbol-list {
      display: flex;
      justify-content: space-between;
      width: 1094px;
      margin: 0 auto;
      padding: 132px 0 96px;
      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          margin-top: 42px;
          @include eng;
          font-size: 25px;
          font-weight: 700;
          text-align: center;
        }
        &.creative {
          img {
            width: 233px;
          }
        }
        &.dynamic {
          img {
            width: 196px;
          }
        }
        &.new {
          img {
            margin-top: 32px;
            width: 281px;
          }
        }
      }
    }
  }
  .keyword {
    @include container;
    .keyword-list {
      display: flex;
      flex-wrap: wrap;
      .item {
        flex-basis: calc((100% - 1px) / 2);
        padding: 152px 0 110px;
        text-align: center;
        &:nth-child(2n) {
          border-left: 1px solid #090103;
        }
        &:nth-child(n+3) {
          border-top: 1px solid #090103;
        }
        .title {
          @include eng;
          font-size: 35px;
          font-weight: 700;
        }
        .content {
          margin-top: 42px;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
  .identity {
    @include container;
    border-top: 1px solid #090103;
    .title {
      padding: 22px 30px;
      @include eng;
      font-size: 30px;
      font-weight: 700;
    }
    .id-list {
      display: flex;
      padding: 26px 30px 0;
      border-top: 1px solid #090103;
      li {
        flex-basis: 50%;
        background-color: unset;
        .title {
          font-size: 20px;
          font-weight: 400;
        }
        &.symbol {
          img {
            display: block;
            width: 198px;
            margin: 142px auto 157px;
          }
        }
        &.wordmark {
          img {
            display: block;
            width: 420px;
            margin: 216px auto 0;

          }
        }
      }
    }
  }
  .color {
    @include container;
    @include eng;
    border-top: 1px solid #090103;
    h5.title {
      margin-top: 16px;
      padding: 0 30px;
      font-size: 20px;
      font-weight: 500;
    }
    .content {
      height: 120px;
      margin-top: 16px;
      h6.title {
        padding: 25px 30px;
      }
      &.column {
        display: flex;
        > div {
          flex-basis: 50%;
          border: 1px solid #090103;
          &.white {
            background-color: #fff;
          }
          &.black {
            background-color: #000;
            .title {
              color: #fff;
            }
          }
        }
      }
    }
    .brand {
      .content {
        background-color: #c5ff00;
      }
    }
  }
}

.main.contact {
  .title {
    margin-top: 120px;
    @include eng;
    font-size: 50px;
    font-weight: 700;
    img {
      width: 40px;
    }
  }
  .summary {
    margin-top: 38px;
    @include eng;
    font-size: 20px;
  }
  .contents {
    margin-top: 38px;
    border-top: 10px solid #090103;
    border-bottom: 10px solid #090103;
    .table {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      margin-bottom: 10px;
      .item {
        border-top: 2px solid #000;
        padding: 20px 0;
        flex: 1 1 49%;
        &:nth-child(2n) {
          border-left: 2px solid #000;
          padding-left: 20px;
        }
        &:nth-child(n + 7) {
          border-bottom: 2px solid #000;
        }
        .contact-img {
          width: 174px;
        }
        .sns-img {
          width: 112px;
        }
        a {
          @include block-a;
          display: flex;
          align-items: center;
          img {
            width: 88px;
          }
          .txt-area {
            flex-basis: 100%;
            text-align: center;
            .title-main {
              font-size: 28px;
              font-weight: bold;
            }
            .title-sub {
              margin-top: 12px;
              font-size: 16px;
              @include eng;
              font-weight: 700;
            }
          }
        }
        &.sns {
          display: flex;
          a {
            flex-basis: 50%;
            .txt-area {
              margin-left: 24px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

.main.facility {
  @include container;
  .contents-wrapper {
    margin-top: 70px;
    padding-bottom: 25px;
    border-radius: 100% 100% 0 0;
    background-color: #000;
    .title {
      padding-top: 50px;
      color: #c5ff00;
      text-align: center;
      .kor {
        font-size: 30px;
        font-weight: 700;
      }
      .eng {
        margin-top: 24px;
        @include eng;
        font-size: 25px;
        font-weight: 600;
      }
    }
    article {
      width: 1096px;
      margin: 0 auto;
    }
    .main-img {
      position: relative;
      margin-top: 56px;
      a {
        position: absolute;
        top: 50%;
        &.prev {
          left: 16px;
        }
        &.next {
          right: 16px;
        }
        img {
          width: 42px;
        }
      }
    }
    .sub-img {
      display: flex;
      flex-wrap: wrap;
      margin-top: 42px;
      a {
        flex-basis: calc((100% - 48px) / 3);
        img {
          display: block;
        }
        &:not(:nth-child(3n+1)) {
          margin-left: 24px;
        }
        &:nth-child(n+4) {
          margin-top: 24px;
        }
      }
    }
    .logo {
      display: block;
      width: 200px;
      margin: 172px auto 0;
    }
  }
}

.main.class {
  border: none;
  .introduce {
    h4.title {
      margin-top: 10px;
      border-top: 1px solid #090103;
      @include container;
      padding: 24px 30px 0;
      box-sizing: border-box;
      @include eng;
      font-size: 30px;
      font-weight: 700;
      img {
        display: inline-block;
        width: 24px;
        margin-right: 34px;
      }
    }
    .bg-img {
      margin-top: 24px;
      background-color: #000;
      text-align: center;
      img {
        width: 1320px;
      }
    }
  }
  .btn-wrap {
    display: flex;
    justify-content: space-between;
    @include container;
    margin-top: 30px;
    padding: 0 30px;
    .item {
      a {
        @include block-a;
        width: 250px;
        border: 1px solid #090103;
        border-radius: 48px;
        padding: 24px;
        text-align: center;
        font-size: 32px;
      }
    }
  }
  .benefit {
    @include container;
    h4.title {
      margin-top: 10px;
      padding: 24px 30px 0;
      box-sizing: border-box;
      @include eng;
      font-size: 30px;
      font-weight: 700;
      img {
        display: inline-block;
        width: 24px;
        margin-right: 34px;
      }
    }
    .bg-img {
      margin-top: 24px;
      background-color: #000;
      text-align: center;
      img {
        width: 1320px;
      }
    }
  }
}

#footer {
  @include container;
  margin-top: 150px;
  .footer__upper {
    padding-bottom: 16px;
    border-bottom: 2px solid #090103;
    .sns {
      display: flex;
      font-family: 'Montserrat';
      .sns__item:not(:first-child) {
        margin-left: 30px;
      }
      .sns__item > a {
        @include block-a;
        font-size: 24px;
      }
    }
  }

  .footer__lower {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    .logo {
      width: 315px;
    }

    .operating-time {
      display: flex;
      .title {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1.1px;
      }
      .time {
        margin-left: 30px;
        li {
          display: flex;
          &:last-child {
            margin-top: 8px;
          }
        }
      }
    }
  }
}

// floating banner
.floating-area {
  position: fixed;
  top: 330px;
  right: 67px;
  a {
    @include block-a;
    width: 83px;
    border-radius: 100%;
    img {
      border-radius: 99%;
      background-color: #fff;
    }
  }

  .expand-menu {
    li {
      margin-top: 20px;
    }
  }

  .top-btn {
    margin-top: 20px;
  }
}

// transition
.gnb-enter-active,
.gnb-leave-active {
  transition: all 0.3s;
}

.gnb-enter,
.gnb-leave-to {
  opacity: 0;
}

.floating-enter-active,
.floating-leave-active {
  transition: opacity 0.3s;
}

.floating-enter,
.floating-leave-to {
  opacity: 0;
}
